:root {
  --unit: 10px;
  --diameter: calc(10 * var(--unit));
  --radius: calc(5 * var(--unit));
  --length: calc(15 * var(--unit));
}

.App {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center
}

.Dart {
  position: absolute;
  top: 100vh;
  left: 50vw;
  height: var(--diameter);
  width: var(--diameter);
  user-select: none;
}

.Head {
  position: absolute;
  width: var(--diameter);
  height: var(--diameter);
  background-color: #f22;
  border-radius: var(--radius);
  z-index: -1
}

.Body {
  position: absolute;
  background-color: #33f;
  border-radius: var(--radius) var(--radius) 0 0;
  height: 90%;
  width: 100%;
  bottom: 0;
}

.Butt {
  position: absolute;
  bottom: calc(-1 * var(--radius));
  width: var(--diameter);
  height: var(--diameter);
  border-radius: 50%;
  background-color: #22f;
}

.Butt::after {
  position: absolute;
  content: ' ';
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #11a;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.Placeholder {
  transition: opacity 500ms;
  color: #22f;
  animation: 1000ms fadeIn ease-in;
  pointer-events: none;
  user-select: none;
}

.Placholder-done {
  opacity: 0;
}

.Github {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 3000ms ease-in 1000ms;
  user-select: none;
}

.Github-on {
  opacity: 1;
}
